p {
  margin-bottom: 0%;
}

.producto-imagen {
  max-height: 250px;
  border-radius: 5px;
}

.prouducto-carrito img {
  max-width: 50px;
}

.zoom { 
  transition: transform .3s; /* Animación */
}

.zoom:hover {
  transform: scale(1.7); /*130% de Zoom */
}

.imagen-grid {
  height: 50px;
  width: 50px;
}

.oscurecer-img{
  filter: brightness(35%);
}

.aclarar-img{
  filter: brightness(100%);
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}